.experience-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.experience-card {
    font-family: 'JetBrains Mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 25px;
    color: white;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    flex-grow: 1;
    border-radius: 10%;

}

.experience-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    z-index: 2;
}

.experience-content > .slogan {
    font-size: 1rem;
}

.card-footer {
    align-self: flex-end;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    display: flex;
    align-items: center;
}

.links img {
    width: 24px;
    height: auto;
}

.experience-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.slogan {
    font-style: italic;
}

.role {
    font-weight: bold;
}

@media (max-width: 768px) {
    .experience-grid {
        grid-template-columns: 1fr;
    }
    .experience-card {
        min-height: 40vh;
    }
}
