.contact-container {
    min-height: 100vh;
}

.form-container form {
    width: 100%;
    height: 100%;
    max-width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.media-icon {
    height: 100px;
    width: 100px;
}

.underline {
    width: 90%;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .form-container form {
        width: 100%;
    }
}

