@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    transition: transform 0.1s ease;
    will-change: transform;
}

.first-view-container {
    position: relative;
    overflow: hidden;
    background-color: #323232;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-view-container::before, .first-view-container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.5));
    animation: moveShape 25s linear infinite, colorShift 60s ease-in-out infinite;
}

.first-view-container::before {
    left: -150px;
    bottom: 10%;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.2);
}

.first-view-container::after {
    right: -150px;
    bottom: 10%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.15);
}

.project-view-container {
    background-color: #323232;
}

@keyframes moveShape {
    0%, 100% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-10vh) scale(1.5); }
}

@keyframes colorShift {
    0%, 100% { background-color: rgba(255, 255, 255, 0.2); }
    50% { background-color: rgba(255, 255, 200, 0.2); }
}
